* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(29, 27, 27);
    font-family: 'Roboto';
    font-weight: 500;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.navbar a {
    color: rgb(167, 19, 242);
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(4, 228, 104);
}

.logoprimario {
    height: 25px;
}

.navlist {
    list-style-type: none;
    padding: 20px 10px;
}

.nav-link {
    display: inline-block;
    padding: 20px 10px;

}


.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background: -webkit-linear-gradient(rgb(167, 19, 242), rgb(4, 228, 104));
    margin-bottom: 3px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .linksalalogo {
        margin-top: 15px;
        width: 100%;
        padding-left: 30px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .navlist {
        list-style-type: none;
        padding: 20px 10px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
        display: none;
    }
    .nav-link {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 0.25px solid rgb(29, 27, 27);
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .active {
        display: block;
    }
}