* {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
}

.navbar a {
    color: rgb(9, 243, 28);
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(183, 0, 255);
}

.logoprimario {
    height: 25px;
}

.navlist {
    list-style-type: none;
    padding: 20px 10px;
}

.nav-link {
    display: inline-block;
    padding: 20px 10px;

}


.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: rgb(183, 0, 255);
    margin-bottom: 3px;
}

@media all and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding-bottom: 10px;
    }
    .linksalalogo {
        height: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .navlist {
        list-style-type: none;
        padding: 20px 10px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
        display: none;
    }
    .nav-link {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid green;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .active {
        display: block;
    }
}